<h1>Dogs in the Database</h1>
<% @users.each do |u| %> <!-- Iterates through each user under the variable u -->
  Name: <p> <%= link_to u.name, user_path(u) %> </p> <!-- Show the users name-->
  Age : <p> <%= u.age %> </p> <!-- Show the users email -->
<% end %>
<%= link_to "new", users_new_path %> <!-- Create a link that appears as "new" that leads to users_new_path -->
